<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/CSS/chat.css">

    <script src="https://kit.fontawesome.com/8773b0d8e1.js" crossorigin="anonymous"></script>
    <script src="/JS/chat.js" defer></script>
    <script src="/JS/jquery-3.5.1.js"></script>
    

</head>

<body>
 <th:block th:replace="HTML/nav :: hearder"></th:block>
 <script>


     window.onload = function () {

         function onClick() {
             document.querySelector('.modal_wrap').style.display = 'block';
             document.querySelector('.black_bg').style.display = 'block';
         }
         function offClick() {
             document.querySelector('.modal_wrap').style.display = 'none';
             document.querySelector('.black_bg').style.display = 'none';
         }

         document.getElementById('modal_btn').addEventListener('click', onClick);
         document.querySelector('.modal_close').addEventListener('click', offClick);

     };


 </script>


    <div class="singleh">
        <h3>💌나에게 호감을 표시했어요💌</h3>
    </div>
    <div class="col-md-4">
        <div class="single-box1">

            <th:block th:if="${Result.size()} != 0">
            <div class="img-area kim">
<!--                <button type='button' id="modal_btn">-->
<!--                    <img th:src="${'/images/human/' + Result.get(0).getUserImg()}" alt="">-->
<!--                    &lt;!&ndash;                    <i class="fas fa-arrow-right"></i>&ndash;&gt;-->
<!--                </button>-->
                <img th:src="${'/images/human/' + Result.get(0).getUserImg()}" alt="">
            </div>
            <div class="img-text">
                <h2 th:text="${Result.get(0).getUserName()}"></h2>
                <p th:text="${Result.get(0).getUserType()}"></p>

                <button type='button' id="modal_btn">
                     <i class="fas fa-arrow-right">상세보기</i>
                </button>

            </div>
            </th:block>





            <th:block th:unless="${Result.size()} != 0">
                <div class="img-area kim">
                    <img src="/images/empty.jpg" alt="">
                </div>
                <div class="img-text">
                    <h2></h2>
                    <p>매칭을 기다리는 중입니다..</p>
                </div>
            </th:block>
        </div>
    </div>

    <div class="col-md-4">
        <div class="single-box2">

            <th:block th:if="${Result.size()} >= 2">
                <div class="img-area kim">
                    <img th:src="${'/images/human/' + Result.get(1).getUserImg()}" alt="">
                </div>
                <div class="img-text">
                    <h2 th:text="${Result.get(1).getUserName()}"></h2>
                    <p th:text="${Result.get(1).getUserType()}"></p>
                </div>
            </th:block>

            <th:block th:unless="${Result.size()} >= 2">
                <div class="img-area kim">
                    <img src="/images/empty.jpg" alt="">
                </div>
                <div>
                    <h2></h2>
                    <p></p>
                </div>
            </th:block>

        </div>
    </div>
    <div class="col-md-4">
        <div class="single-box3">

            <th:block th:if="${Result.size()} >= 3">
                <div class="img-area kim">
                    <img th:src="${'/images/human/' + Result.get(2).getUserImg()}" alt="">
                </div>
                <div class="img-text">
                    <h2 th:text="${Result.get(2).getUserName()}"></h2>
                    <p th:text="${Result.get(2).getUserType()}"></p>
                </div>
            </th:block>

            <th:block th:unless="${Result.size()} >= 3">
                <div class="img-area kim">
                    <img src="/images/empty.jpg" alt="">
                </div>
                <div>
                    <h2></h2>
                    <p></p>
                </div>
            </th:block>

        </div>
    </div>
    <img id="smtimg" src="/images/hheart.gif" alt="" >
<div id="smttitle">
    Small Talk
</div>

 <div id="smt" >
     <div class="AA" >
         <br>
         <input type='radio'name='place1'value='쉴 때 밖에 나간다  vs  집에서 쉰다' onclick='getGender(event)'/> 쉴 때 밖에 나간다  vs  집에서 쉰다  <br><br>
         <input type='radio'name='place1'value='야외(해양 액티비티 포함) 운동  vs  실내 운동이 좋아' onclick='getGender(event)'/> 야외(해양 액티비티 포함) 운동  vs  실내 운동이 좋아  <br><br>
         <input type='radio'name='place1'value='고민 상담은? 위로해주기  vs  해결책 찾아주기' onclick='getGender(event)'/> 고민 상담은? 위로해주기  vs  해결책 찾아주기  <br><br>
         <input type='radio'name='place1'value='약속장소에서 친구가 갑자기 파토냈다!  vs  바로 다른 약속을 잡는다' onclick='getGender(event)'/> 약속장소에서 친구가 갑자기 파토냈다!  vs  바로 다른 약속을 잡는다  <br><br>
         <input type='radio'name='place1'value='좋아하는 브랜드 신상이 나왔다! 일단 플렉스  vs  후기부터 보자' onclick='getGender(event)'/> 좋아하는 브랜드 신상이 나왔다! 일단 플렉스  vs  후기부터 보자 <br><br>
         <input type='radio'name='place1'value='여행가서 숙소가 제일 중요  vs  관광이 제일 중요' onclick='getGender(event)'/> 여행가서 숙소가 제일 중요  vs  관광이 제일 중요 <br><br>
         <input type='radio'name='place1'value='영화는 영화관에서  vs  내 집에서 편하게' onclick='getGender(event)'/> 영화는 영화관에서  vs  내 집에서 편하게 <br><br>
         <input type='radio'name='place1'value='여름에 겨울옷 입기  vs  겨울에 여름옷 입기' onclick='getGender(event)'/> 여름에 겨울옷 입기  vs  겨울에 여름옷 입기 <br><br>
         <input type='radio'name='place1'value='겨울바다에 가서 조개구이먹기  vs  스키장가서 라면에 핫바먹기' onclick='getGender(event)'/> 겨울바다에 가서 조개구이먹기  vs  스키장가서 라면에 핫바먹기  <br><br>
         <input type='radio'name='place1'value='한달내내 무없이 치킨먹기  vs  한달 내내 콜라없이 빅맥 먹기' onclick='getGender(event)'/> 한달내내 무없이 치킨먹기  vs  한달 내내 콜라없이 빅맥 먹기  <br><br>
         <input type='radio'name='place1'value='하루종일 애인만나기  vs  하루에 한시간만 애인만나기' onclick='getGender(event)'/> 하루종일 애인만나기  vs  하루에 한시간만 애인만나기  <br><br>
         <input type='radio'name='place1'value='BHC 뿌링클  vs  교촌 레드반반' onclick='getGender(event)'/> BHC 뿌링클  vs  교촌 레드반반  <br><br>
         <input type='radio'name='place1'value='탕수육 부먹  vs  탕수육 찍먹 ' onclick='getGender(event)'/> 탕수육 부먹  vs  탕수육 찍먹  <br><br>
         <input type='radio'name='place1'value='겨울  vs  여름' onclick='getGender(event)'/> 겨울  vs  여름  <br><br>
         <input type='radio'name='place1'value='귀여운 사람  vs  섹시한 사람' onclick='getGender(event)'/> 귀여운 사람  vs  섹시한 사람  <br><br>
         <input type='radio'name='place1'value='평생 야채만 먹기  vs  평생 고기만 먹기 ' onclick='getGender(event)'/> 평생 야채만 먹기  vs  평생 고기만 먹기 <br><br>
     </div>
    <br>
   
       </div>
       <div id="smtbtn1">
           <br><br><br>
       <button  id="smtbtn2" onclick='getvision()'>채팅시작하기</button>
       </div>
    <section id="chat-sec" >
        <div id="container" style="float: left; ">
            <aside >
                <header>
                    <input onkeyup="search()" id="sc" type="text" placeholder="search">
                </header>
                <ul>
                    <li id="kim1" class="ml">
                        <div class="name kim">
                        <img src="/images/man/01.jpg" alt=""><div><h2>모모</h2><h3><span class="status green"></span>online</h3></div>
                    </div>
                    </li>
                    <li id="v" class="ml">
                        <div >
                        <img src="/images/woman/08.jpg" alt=""><div><h2 class="name">아이유</h2><h3><span class="status green"></span>online</h3></div>
                    </div>
                    </li>
                    <li id="su"class="ml">
                        <div class="name">
                        <img src="/images/woman/04.jpg" alt=""><div><h2>김태희</h2><h3><span class="status orange"></span>offline</h3></div>
                    </div>
                    </li>

                    <li id="do" class="ml">
                        <div class="name">
                        <img src="/images/woman/13.jpg" alt=""><div><h2>한지민</h2><h3><span class="status orange"></span>offline</h3></div>
                    </div>
                    </li>


                    <li id="nam" class="ml">
                        <div >
                        <img src="/images/woman/12.jpg" alt=""><div><h2 class="name">한효주</h2><h3><span class="status green"></span>online</h3></div>
                    </div>
                    </li>
                    <li id="jun" class="ml">
                        <div class="name">
                        <img src="/images/woman/03.jpg" alt=""><div><h2>아이린</h2><h3><span class="status green"></span>online</h3></div>
                    </div>
                    </li>

                </ul>
            </aside>
        </div>
        
        <div style="margin-left:210px; ">
            <main>
                <header>
                    <li id="kim" class="kim" >
                    <img src="/images/man/01.jpg" alt="">
                    <div>
                        <h2>모모</h2>
                        <h3><span class="status green"></span>
                            online</h3>
                    </div>
                </li>
                </header>
                <div id="radiovalue">대화주제를 선택하고 오세요</div>
                <div id='bodybox'>
                    <div id='chatborder'>
                      <p id="chatlog7" class="chatlog">&nbsp;</p>
                      <p id="chatlog6" class="chatlog">&nbsp;</p>
                      <p id="chatlog5" class="chatlog">&nbsp;</p>
                      <p id="chatlog4" class="chatlog">&nbsp;</p>
                      <p id="chatlog3" class="chatlog">&nbsp;</p>
                      <p id="chatlog2" class="chatlog">&nbsp;</p>
                      <p id="chatlog1" class="chatlog">&nbsp;</p>
                      
                      <input type="text" name="chat" id="chatbox" placeholder="내용입력" ><button id="chatbtn" onfocus="placeHolder()", onclick="newEntry()" >Send</button>
                    </div>
            </div>
            
            </main>
        </div>
    </section>

 <div class="black_bg"></div>
 <div class="modal_wrap">
     <div class="modal_close"><a href="#">close</a></div>
     <div>
         <p th:name="userName" th:text="${'[' + Result.get(0).userName + '님의 상세보기]'}"></p>
         <p th:name="userAge" th:text="${'나이 : ' + Result.get(0).userAge}"></p>
         <p th:name="userLoc" th:text="${'지역 : ' + Result.get(0).userLoc}"></p>
         <p th:name="userSmoke" th:text="${'흡연유무 : ' + Result.get(0).userSmoke}"></p>
         <p th:name="userDrink" th:text="${'음주여부 : ' + Result.get(0).userDrink}"></p>
         <p th:name="userHobby" th:text="${'취미 : ' + Result.get(0).userHobby}"></p>
         <p th:name="userIntd" th:text="${'자기소개 : ' + Result.get(0).userIntd}"></p>
         <p th:name="userType" th:text="${'주파수 : ' + Result.get(0).userType}"><p>
     </div>
 </div>

 <th:block th:replace="HTML/nav :: footer"></th:block>


</body>

</html>