<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>주파수 유형</title>

    <link rel="stylesheet" href="/CSS/intro.css">

    <script src="https://kit.fontawesome.com/8773b0d8e1.js" crossorigin="anonymous"></script>
    <script src="/JS/intro.js" defer></script>
    <script src="/JS/scroll_parallax.js" defer></script>

</head>

<body>
<th:block th:replace="HTML/nav :: header"></th:block>

    <div id="quick">
        <input type="button" value="유형 목록" onclick="div_show();">
        <input type="button" value="닫기" onclick="div_hide();">
    </div>
    <p class="scname">Scroll Down</p>
    <div class="s1_arrow">
        <div class="scroll-arrow"></div>
        <div class="scroll-arrow"></div>
        <div class="scroll-arrow"></div>
        <div class="scroll-arrow"></div>
        <div class="scroll-arrow"></div>
        <div class="scroll-arrow"></div>
    </div>
    <div id="typeli">
        <nav>
            <ul class="tt">
                <a href="#section1">
                    <li>달빛으로의 초대</li>
                </a>
                <a href="#section2">
                    <li>스위트 박스</li>
                </a>
                <a href="#section3">
                    <li>별 헤는 밤</li>
                </a>
                <a href="#section4">
                    <li>아름다운 그대에게</li>
                </a>
                <a href="#section5">
                    <li>새벽의 달</li>
                </a>
                <a href="#section6">
                    <li>그대와 여는 아침</li>
                </a>
                <a href="#section7">
                    <li>레인보우 스트리트</li>
                </a>
                <a href="#section8">
                    <li>남다른 하루</li>
                </a> <br>
                <a href="#section9">
                    <li>달콤한 수다</li>
                </a>
                <a href="#section10">
                    <li>러브 쉐이크</li>
                </a>
                <a href="#section11">
                    <li>상상 파워</li>
                </a>
                <a href="#section12">
                    <li>향기로운 오후</li>
                </a>
                <a href="#section13">
                    <li>오늘 같은 밤</li>
                </a>
                <a href="#section14">
                    <li>널 만나러 가는 길</li>
                </a>
                <a href="#section15">
                    <li>써니데이</li>
                </a>
                <a href="#section16">
                    <li>어메이징 그레이스</li>
                </a>
            </ul>
        </nav>
    </div>
    <main>
        <section id="wrap">
            <div class="contents">
                <section id="section1" class="content-item">
                    <span class="content-item-num">110MHz</span>
                    <h2 class="content-item-title">달빛으로의 초대</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">연인에게 신뢰할 수 있는 사람이 되고 싶은 당신</p>
                </section>
                <section id="section2" class="content-item">
                    <span class="content-item-num">105MHz</span>
                    <h2 class="content-item-title">스위트 박스</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">깊은 사랑을 통해 안정감을 느끼는 당신</p>
                </section>
                <section id="section3" class="content-item">
                    <span class="content-item-num">89MHz</span>
                    <h2 class="content-item-title">별 헤는 밤</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">서툴더라도 진실한 사랑을 하는 당신</p>
                </section>
                <section id="section4" class="content-item">
                    <span class="content-item-num">80MHz</span>
                    <h2 class="content-item-title">아름다운 그대에게</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">자신의 세계로 연인을 이끌 줄 아는 당신</p>
                </section>
                <section id="section5" class="content-item">
                    <span class="content-item-num">114MHz</span>
                    <h2 class="content-item-title">새벽의 달</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">연인의 생활방식과 자유를 존중하는 당신</p>
                </section>
                <section id="section6" class="content-item">
                    <span class="content-item-num">100MHz</span>
                    <h2 class="content-item-title">그대와 여는 아침</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">연인에게 배려심 깊은 당신</p>
                </section>
                <section id="section7" class="content-item">
                    <span class="content-item-num">95MHz</span>
                    <h2 class="content-item-title">레인보우 스트리트</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">연애의 시작도 신중한 당신</p>
                </section>
                <section id="section8" class="content-item">
                    <span class="content-item-num">109MHz</span>
                    <h2 class="content-item-title">남다른 하루</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">사랑에도 자신만의 순서가 있는 당신</p>
                </section>
                <section id="section9" class="content-item">
                    <span class="content-item-num">110MHz</span>
                    <h2 class="content-item-title">달콤한 수다</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">무엇이든 연인과 함께 즐기는 것이 좋은 당신</p>
                </section>
                <section id="section10" class="content-item">
                    <span class="content-item-num">96MHz</span>
                    <h2 class="content-item-title">러브 쉐이크</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">연인에게 받은 사랑을 돌려주는 당신</p>
                </section>
                <section id="section11" class="content-item">
                    <span class="content-item-num">91MHz</span>
                    <h2 class="content-item-title">상상 파워</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">사랑 그 자체, 연인을 매료시키는 당신</p>
                </section>
                <section id="section12" class="content-item">
                    <span class="content-item-num">105MHz</span>
                    <h2 class="content-item-title">향기로운 오후</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">연인과의 대화를 좋아하고, 일편단심인 당신</p>
                </section>
                <section id="section13" class="content-item">
                    <span class="content-item-num">104MHz</span>
                    <h2 class="content-item-title">오늘같은 밤</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">솔직하고 진지한 연애를 하는 당신</p>
                </section>
                <section id="section14" class="content-item">
                    <span class="content-item-num">90MHz</span>
                    <h2 class="content-item-title">널 만나러 가는 길</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">꾸준한 관심이 곧 사랑인 당신</p>
                </section>
                <section id="section15" class="content-item">
                    <span class="content-item-num">95MHz</span>
                    <h2 class="content-item-title">써니데이</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">낭만적인 사랑을 꿈꾸는 당신</p>
                </section>
                <section id="section16" class="content-item">
                    <span class="content-item-num">99MHz</span>
                    <h2 class="content-item-title">어메이징 그레이스</h2>
                    <figure class="content-item-imgWrap">
                        <div class="content-item-img"></div>
                    </figure>
                    <p class="content-item-desc">자신을 성장시키는 사랑을 하는 당신</p>
                </section>
            </div>
        </section>
    </main>
<th:block th:replace="HTML/nav :: footer"></th:block>

    <body onload="InitializeStaticMenu();"></body>
    <div id="STATICMENU"><a href="#top"><button>유<br>형<br><br>목<br>록</button></a></div>
</body>

</html>