<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <link rel="stylesheet" th:href="@{/CSS/join.css}">

    <script src="/JS/jquery-3.5.1.js" defer></script>
    <script src="/JS/main.js" defer></script>
    <script src="https://kit.fontawesome.com/8773b0d8e1.js" crossorigin="anonymous"></script>
    <script src="/JS/idchk.js" defer></script>
</head>

<body>
<th:block th:replace="HTML/nav :: header"></th:block>

    <div class="inner">
        <div class="image_holder">
            <img src="/images/123.jpg" alt="">
        </div>
        <form id="signupForm" action="/users/new" method="post" enctype="multipart/form-data">
            <h3>회원 가입</h3>
            <div class="profile-picture">
                <h5>프로필 사진 등록</h5>
                <div id="img_container"></div>
                <input type="file" id="files" name="files" accept="image/*" onchange="setThumbnail(event);" />
                <label for="files">파일선택</label>
            </div>
            <div class="form-wrapper">
                <input name="userId" id="userId" type="text" placeholder="아이디" class="form-control">
                <i class="fas fa-portrait"></i>
            </div>
            <button type="button" id="idChk" value="N">중복확인</button>
            <div class="form-wrapper">
                <input name="userPw" id="userPw" type="password" placeholder="비밀번호" class="form-control">
                <i class="fas fa-lock"></i>
            </div>
            <div class="form-wrapper">
                <input name="userName" id="userName" type="text" placeholder="이름" class="form-control">
                <i class="fas fa-user"></i>
            </div>
            <div class="form-wrapper">
                <input name="userBirth" id="userBirth" type="date" placeholder="생년월일" class="form-control">
            </div>
            <div class="form-wrapper">
                <input name="userTel" id="userTel" type="text" placeholder="전화번호" class="form-control">
                <i class="fas fa-phone-square"></i>
            </div>
            <div class="form-wrapper">
                <select name="userSex" id="userSex" class="form-control">
                    <option value="" disabled selected>성별</option>
                    <option value="여성">여성</option>
                    <option value="남성">남성</option>
                </select>
                <i class="fas fa-caret-down"></i>
            </div>
            <div class="form-wrapper">
                <select name="userSmoke" id="userSmoke" class="form-control">
                    <option value="" disabled selected>흡연 여부</option>
                    <option value="흡연자">흡연자</option>
                    <option value="비흡연자">비흡연자</option>
                </select>
                <i class="fas fa-joint"></i>
            </div>
            <div class="form-wrapper">
                <select name="userDrink" id="userDrink" class="form-control">
                    <option value="" disabled selected>음주 여부</option>
                    <option value="안 함">안 함</option>
                    <option value="주 1회">주 1회</option>
                    <option value="주 2~3회">주 2~3회</option>
                    <option value="주 4~5회">주 4~5회</option>
                    <option value="월 1회">월 1회</option>
                </select>
                <i class="fas fa-beer"></i>
            </div>
            <div class="form-wrapper">
                <select name="userLoc" id="userLoc" class="form-control">
                    <option value="" disabled selected>지역</option>
                    <option value="광주 광산구">광주 광산구</option>
                    <option value="광주 남구">광주 남구</option>
                    <option value="광주 동구">광주 동구</option>
                    <option value="광주 북구">광주 북구</option>
                    <option value="광주 서구">광주 서구</option>
                </select>
                <i class="far fa-compass"></i>
            </div>
            <div class="form-wrapper">
                <select name="userHobby" id="userHobby" class="form-control">
                    <option value="" disabled selected>취미</option>
                    <option value="등산하기">등산하기</option>
                    <option value="자전거타기">자전거타기</option>
                    <option value="노래듣기">노래듣기</option>
                    <option value="영화보기">영화보기</option>
                    <option value="게임하기">게임하기</option>
                    <option value="요리하기">요리하기</option>
                    <option value="블로그관리">블로그관리</option>
                    <option value="골프">골프</option>
                    <option value="제테크">제테크</option>
                    <option value="SNS관리">SNS관리</option>
                    <option value="공연관람">공연관람</option>
                    <option value="수영">수영</option>
                    <option value="맛집탐방">맛집탐방</option>
                    <option value="아무것도안하기">아무것도안하기</option>
                </select>
                <i class="fas fa-bicycle"></i>
            </div>
            <div class="form-wrapper">
                <select name="userReligion" id="userReligion" class="form-control">
                    <option value="" disabled selected>종교</option>
                    <option value="기독교">기독교</option>
                    <option value="천주교">천주교</option>
                    <option value="불교">불교</option>
                    <option value="이슬람교">이슬람교</option>
                    <option value="무교">무교</option>
                </select>
                <i class="fas fa-church"></i>
            </div>
            <div class="form-wrapper">
                <input name="userIntd" id="userIntd" type="text" placeholder="한 줄 소개" class="form-control">
                <i class="fas fa-address-card"></i>
            </div>
<!--            <div class="form-wrapper">-->
<!--                <input name="userType" id="userType" type="text" placeholder="주파수" class="form-control">-->
<!--                <i class="fas fa-heart"></i>-->
<!--            </div>-->

            <input type="checkbox" name="agree" id="" >[필수] 개인정보 수집 및 이용동의<br><br>
            위 개인정보 수집에 대한 동의를 거부할 권리가 있으며, 동의 거부시에는 이용이 제한될 수 있습니다.


            <button id="signupButton">가입하기
                <i class="fas fa-arrow-right"></i>
            </button>
            <div class="black_bg"></div>
<!--            <div class="modal_wrap">-->
<!--                <div class="modal_close"><a href="#">close</a></div>-->
<!--                <div>-->
<!--                    <p id="modalname">홍드로이드님 환영합니다</p>-->
<!--                    <button type="button" style="font-size: 25px; height: 60px; border-radius: 15px;" class="test_btn"-->
<!--                        onClick="location.href='mbti.html'"> 성격 유형 검사 GOGO!</button>-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
<th:block th:replace="HTML/nav :: footer"></th:block>

</body>

</html>