<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/CSS/mypage.css">

    <script src="https://kit.fontawesome.com/8773b0d8e1.js" crossorigin="anonymous"></script>
    <script src="/JS/mypage.js" defer></script>
    <script src="/JS/main.js" defer></script>


</head>

<body>
<header>
    <th:block th:replace="HTML/nav :: header"></th:block>

    <div class="splitview skewed">
        <div class="panel bottom">
            <div class="content">
                <div class="description">
                    <h1>당신의 이상형</h1>
                    <p>찾아보세요</p>
                </div>

                <img src="/images/sea.jpg" alt="Original">
            </div>
        </div>

        <div class="panel top">
            <div class="content">
                <div class="description">
                    <h1>여기있는 사람이</h1>
                    <p>비로 그대</p>
                </div>

                <img src="/images/people-.jpg" alt="Duotone">
            </div>
        </div>

        <div class="handle"></div>
    </div>
<form action="infoUpdate" method="post" enctype="multipart/form-data">
    <div class="tabmenu">
        <ul>
            <br><br><br><br><br><br><br><br>
            <li id="tab1" class="btnCon"> <input type="radio" checked name="tabmenu" id="tabmenu1">
                <label for="tabmenu1" class="tb1"><i class="fas fa-camera-retro fa-2x"></i></label>
                <input type="file" id="pr_image2" accept="image/*" onchange="setThumbnail(event);" />
                <div class="tabCon1">
                    <div style="position: relative;">
                        <img class="mpimg2" th:src="${'images/human/' + userImg}" alt="">
                        <label for='pr_image2' class="imgtxt">
                            <th:block th:text="${userName}"></th:block>
                        </label>
                    </div>
                </div>
            </li>


            <li id="tab2" class="btnCon"><input type="radio" name="tabmenu" id="tabmenu2">
                <label for="tabmenu2"><i class="fas fa-list-alt fa-2x"></i></label>
                <div class="tabCon2">
                    <div class="mpdiv">
                        <img class="mpimg" th:src="${'images/human/'+userImg}" alt="">
                        <p id="text01"><input type="text" name="userName" th:text="${userName}"></p>
                        <p id="text02"><input type="text" name="userId" th:text="${userId}"></p>
                    </div>
                    <div class="alllist">
                        <div class="t">
                            <div class="name"> 기본정보</div>
                        </div>

                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="far fa-check-circle" style="float: left;"></i>&nbsp;
                                <div style="float: left;">비밀번호</div>
                            </div>
                            <div class="right" style="float: left;">
                               <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>
                            <input id="userPw" name="userPw" type="password">
                            <br>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="far fa-calendar-alt" style="float: left;"></i>&nbsp;
                                <div style="float: left;">생년월일</div>
                            </div>
                            <div class="right" style="float: left;">
                               <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>
                            <input id="userBirth" name="userBirth" type="text" th:text="${userBirth}">
                            <br>
                        </div>                  
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="fas fa-phone" style="float: left;"></i>&nbsp;
                                <div style="float: left;">전화번호</div>
                            </div>
                            <div class="right" style="float: left;">
                                <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>
                            <div>
                            <input id="userTel" name="userTel" type="text" th:text="${userTel}">
                            </div>
                            <br>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="fas fa-restroom" style="float: left;"></i>&nbsp;
                                <div class="name" style="float: left;">성별</div>
                            </div>
                            <div class="right" style="float: left;">
                                <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>
                          <input id="userSex" name="userSex" type="text" th:text="${userSex}">
                        </div>
                        <br>
                        <div class="t">
                            <div class="name">세부정보</div>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="fas fa-joint" style="float: left;"></i>
                                <div class="name" style="float: left;">흡연여부</div>
                            </div>
                            <div class="right" style="float: left;">
                                <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>

                            <select name="userSmoke" id="userSmoke" class="form-control">
                                <option value="" th:text="${userSmoke}"></option>
                                <option value="흡연자">흡연자</option>
                                <option value="비흡연자">비흡연자</option>
                            </select>

                            <br>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="fas fa-beer" style="float: left;"></i>&nbsp;
                                <div class="name" style="float: left;">음주여부</div>
                            </div>
                            <div class="right" style="float: left;">
                                <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>

                            <select name="userDrink" id="userDrink" class="form-control">
                                <option th:text="${userDrink}"></option>
                                <option value="안 함">안 함</option>
                                <option value="주 1회">주 1회</option>
                                <option value="주 2~3회">주 2~3회</option>
                                <option value="주 4~5회">주 4~5회</option>
                                <option value="월 1회">월 1회</option>
                            </select>
                            <br>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="far fa-compass" style="float: left;"></i>&nbsp;
                                <div class="name" style="float: left;">지역</div>
                            </div>
                            <div class="right" style="float: left;">
                                <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>

                            <select name="userLoc" id="userLoc" class="form-control">
                                <option th:text="${userLoc}"></option>
                                <option value="광주 광산구">광주 광산구</option>
                                <option value="광주 남구">광주 남구</option>
                                <option value="광주 동구">광주 동구</option>
                                <option value="광주 북구">광주 북구</option>
                                <option value="광주 서구">광주 서구</option>
                            </select>
                            <br>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="fas fa-bicycle" style="float: left;"></i>
                                <div class="name" style="float: left;">취미</div>
                            </div>
                            <div class="right" style="float: left;">
                               <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>

                            <select name="userHobby" id="userHobby" class="form-control">
                                <option th:text="${userHobby}"></option>
                                <option value="등산하기">등산하기</option>
                                <option value="자전거타기">자전거타기</option>
                                <option value="노래듣기">노래듣기</option>
                                <option value="영화보기">영화보기</option>
                                <option value="게임하기">게임하기</option>
                                <option value="요리하기">요리하기</option>
                                <option value="블로그관리">블로그관리</option>
                                <option value="골프">골프</option>
                                <option value="제테크">제테크</option>
                                <option value="SNS관리">SNS관리</option>
                                <option value="공연관람">공연관람</option>
                                <option value="수영">수영</option>
                                <option value="맛집탐방">맛집탐방</option>
                                <option value="아무것도안하기">아무것도안하기</option>
                            </select>
                            <br>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="fas fa-church" style="float: left;"></i>
                                <div class="name" style="float: left;">종교</div>
                            </div>
                            <div class="right" style="float: left;">
                                <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>
                            <select name="userReligion" id="userReligion" class="form-control">
                                <option th:text="${userReligion}"></option>
                                <option value="기독교">기독교</option>
                                <option value="천주교">천주교</option>
                                <option value="불교">불교</option>
                                <option value="이슬람교">이슬람교</option>
                                <option value="무교">무교</option>
                            </select>
                            <br>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="fas fa-address-card" style="float: left;"></i>
                                <div class="name" style="float: left;">한줄소개</div>
                            </div>
                            <div class="right" style="float: left;">
                                <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>
                            <input id="userIntd" name="userIntd" type="text" th:text="${userIntd}" th:placeholder="${userIntd}">
                            <br>
                        </div>
                        <div class="bbt">
                            <div class="left" style="float: left;">
                                <i id="icon" class="fas fa-heart" style="float: left;"></i>
                                <div class="name" style="float: left;">주파수</div>
                            </div>
                            <div class="right" style="float: left;">
                                <i id="icon" class="fas fa-angle-right">&nbsp;</i>
                            </div>
                            <input id="userType" name="userType" type="text" th:text="${userType}">
                           
                        </div>
                        <br><br><br>
                        <button type="submit" id="btnUpdate">수정하기</button>
                        <button type="reset" id="cancel" >취소</button>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</form>

<th:block th:replace="HTML/nav :: footer"></th:block>

</body>

</html>