<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3;url=home">

    <title>Document</title>
    <link rel="stylesheet" href="/CSS/testload.css">
</head>

<body>
    <div class="back">
        <div style="position: relative;">
            <img src="/images/heart_logo.png" alt="">
            <div class="backimg">
                m</div>
        </div>
    </div>
</body>

</html>