
/* header */
@font-face{
    font-family: "my font";
    src: url(/font/NIXGONFONTS-B-2.0.ttf);
}

@font-face{
    font-family: "my font2";
    src: url(/font/NIXGONFONTS-M-2.0.ttf);
}


@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}

:root {
    --text-color: #21201e;
    --background-color: #fce3e5;
    --hover-background-color: #f9f7fa;
    --accent-color: #8847b5;
    --color-link: #f8bec2; 
    --color-sub: #622291; 
    --color-title: #f58990; 
    --aspect-ratio: 33/17;
    --image-width-max: 500px;
}

body {

    margin: 0;
    font-family: "my font2";
    font-weight: 700;
    width: flex;
    animation: fadein 1000ms ease-out;
}


a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: linear-gradient(to right, #fce3e5, #f5d5e0, #f5d5e9);
   
   
}

.navbar_logo img {
    padding:15px;
    width: 60px;
    height: 45px;
}

.navbar_menu {
    display: flex; 
    list-style: none; 
    padding-left: 0; 
    font-family: "my font";
    font-size: 17px;
}

.navbar_menu li {
    padding: 8px 15px;
}

.navbar_menu li:hover {
    background-color: var(--hover-background-color);
    border-radius: 4px; 
}

.navbar_icons {
    list-style: none;
    color: var(--accent-color);
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 20px;
    font-family: "my font";
    font-size: 10px;
    font-size: 13px;
}
.navbar_icons li i {
    margin-left: 8px;
}

.navbar_icons div {
    padding-top: 10px;
}

.navbar_toggleBtn {
    display: none; 
    position:absolute;
    right: 32px; 
    font-size: 24px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    
    .navbar {
        flex-direction: column; 
        align-items: flex-start;
        padding: 8px 24px;
        
    }

    .navbar_menu {
        display: none; 
        flex-direction: column;
        align-items: center; 
        width: 100%; 
    }

    .navbar_menu li {
        width: 100%;
        text-align: center; 
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;

    }

    .navbar_toggleBtn { 
        display: block;
        margin-top: 27px;
}

    .navbar_menu.active,
    .navbar_icons.active {
        display:flex;
    }

}

/* footer */
footer {
    margin-top: 700px;
    background-color: var(--hover-background-color);
    display: flex;
    padding: 30px;
    text-align: center;
    line-height: 35px;
}

footer > div:first-child {
    flex: 3;
    text-align: center;
    color: var(--text-color);
}

footer > div:last-child {
    flex: 9;
    color: var(--text-color)
}

.footer_logo img {
    width: 90px;
    height: 90px;
}


/*메인*/
.main {
    height: 820px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    place-items: center;
    background-color: var(--hover-background-color);
}

.main .main_info {
    margin-left: 200px;
    width: 100%;
}

.main .main_titles {
    margin-bottom: 150px;
}

.main_titles .main_pre-sub {
    color: var(--accent-color);
    text-align: center;
}

.main_titles .main_title {
    font-size: 60px;
    position : relative;
    left: 200px;
    color: var(--text-color);
}

/* 슬라이드 */
.container{
    width:800px;
    height:600px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    top: 60px;
    right: 180px;
}

.slider{
    display: flex;
    position:absolute;
    top:0;
    left:0;
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    height: 100%;
}

.container div{
    -webkit-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.25s cubic-bezier(1, .01, .32, 1);
    transition: all 0.25s cubic-bezier(1, .01, .32, 1);
}

/*배경용 박스*/
.box {
    display: flex;
    width: 800px;
    height: 350px;
    background-color: var(--background-color);
    position: relative; 
    z-index: 1;
    top: -700px;
    left: 720px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/*메인2*/
.amount {
    display: flex;
    width: 1250px;
    background-color: var(--background-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    position: relative;
    top: -50px;
    list-style: none;
}

.amount > li{
    flex: 1;
    height: 132px;
}

.amount > li > div {
    text-align: center;
    height: 57px;
    margin-top: 37px;
}

.amount > li:not(:last-child) > div {
    border-right: 3px solid #d9d4d7;
}

.contents1 {
    font-size: 22px;
    color: var(--accent-color);
}

.contents2 {
    font-size: 18px;
}

/*메인 텍스트*/
.main_text0 {
    width: 100%;
    height: 600px;
    background-color: var(--background-color);
    margin-top: -132px;
}

.main_text0 > h1 {
    margin: 0;
    padding-top: 116px;
    text-align: center;
    font-family: "my font";
    font-size: 35px;
}

.main_text0 > .contents1 {
    text-align: center;
    padding-top: 20px;
}

.main_text0 h3{
    font-family: "my font";
}

.icons {
    justify-content: space-between;
    display: flex;
    width: 1280px;
    margin: auto;
}

.icons li {
    flex: 1;
    height: 302px;
    margin-top: 49px;
    background-color: var(--hover-background-color);
    list-style: none;
    text-align: center;
}

.icons > li:not(:last-child) {
    margin-right: 20px;
}

.icon_img > img {
    width: 70px;
    height: 90px;
    margin-top: 36px;
}

.icons .contents2 {
    width: 350px;
    margin: auto;
    letter-spacing: -1px;
    line-height: 25px;
}

/* 핸드폰사진부분 */

.cell {
    left: 40px;
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    position: relative;
}

.cell img {
width: 100%;
}

.hand{
    left: 100px; 
    width: 450px; 
    bottom: 180px; 
    font-size: 1.8em; 
    font-weight: bold; 
    position: absolute;
}

.ho1{
    margin-left: 190px; 
    float: left;
}

.ho2{
    margin-left: 625px;
}

.hov1{
    position: relative;
    width: 100%; 
    height: 100%; 
    display: inline-flex;
     margin-bottom:120px;
}

.hov2{
    position: relative;
    width: 100%; 
    height: 100%; 
    display: inline-flex;
    margin-bottom: 130px;
}

.hov3{
    position: relative;
    width: 100%; 
    height: 100%; 
    display: inline-flex; 
    margin-bottom: -70px;
}

.hovic{
    margin:  auto;
     height: 26px; 
     border: 8px black double; 
     border-radius: 20%;
}

#one:hover,
#two:hover,
#three:hover,
#four:hover,
#five:hover,
#six:hover{
   opacity: 0.4;

}


.photo{
    margin-left: 50px;
}

/*메인 텍스트1*/
.main_text1 {
    width: 100%;
    height: 659px;
}

.main_text1 > h1 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    font-family: "my font";
    font-size: 35px;
}

.main_text1 > .contents1 {
    text-align: center;
    padding-top: 20px;
}

.service {
    width: 1280px;
    height: 430px;
    display: flex;
    margin: 49px auto;
}

.service > .contents2 {
    padding: 20px;
}

.service > .contents2 > h2 {
    margin-bottom: 27px;
}

.service > .contents2 > p {
    letter-spacing: 2px;
    line-height: 25px;
}

.bottom-title{
    margin-left: 20px;
}

.bottom-contents {
    margin-left: 20px;
}


@media screen and (max-width: 740px){
    .main_titles {

        margin-top: -400px;
    }

.main_titles h3 {
    margin-left: -50px;
}
.main_titles .main_title {
    margin-left: -290px;
}

    .slider {
       width: 100%;
       height: 400px;
   }

   .container{
       width: 300px;
      margin-left: 760px;
       margin-top: -150px;
   }
    #box1 {
        display: none;
    }

    .no{
        
        margin-left: -750px;
        margin-top: 300px;
    }

   .amount {
       width: 355px;
       margin-left: -37px;
       height: 120px;
       font-size: 5px;
       margin-top: -200px;
   }


   .contents1 {
       font-size: 10px;
       margin-left: 5px;
   }
    .contents2 {
        font-size: 10px;
    }
  .main_text0{
      width: 360px;

      height: 1200px;

  }
    .main_text0 h1 {
        margin-right: -10px;
    }

    .main_text0 #mat2 {
      margin-right: -20px;
  }

  .icons{
      height: 100px;
  }
  .icons .contents1{
      font-size: 18px;
  }
    .icons .contents2{
        font-size: 18px;
    }

  .icc1{
    position: absolute;
      margin-left: -35px;
  }

  .icc2{
      position: absolute;
      margin-left: -35px;
      margin-top: 310px; 
  }

  .icc3{
    position: absolute;
      margin-left: -35px;
    margin-top: 620px;
  }


 
 .photo img{
margin-left: -45px;

     width: 350px;
 }
 .photo {
     margin-top: -480px;
 }

.cc2{
    position: absolute;
    margin-left: 50px;
    margin-top: -250px;
}
.cc2 h1 {
    margin-left: -15px;
}

.cell {
  
    width:340px;
    left: 10px;
   
}

.service {
    height: 0px;
}

footer{
    width: 300px;
    margin-top: 200px;
    font-size: 12px;
}

.han{margin-left: -65px;
}

.ho1{
    display: none;
}

.ho2{
    display: none;
}


}