.back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation-name: backdiv;
    animation-duration: 3s; 
    animation-iteration-count: 20;
    text-align: center;
  }
  img{
      margin-top: 120px;
      width: 40%;
      height: 700px;
      animation-name: beat;
      animation-duration: 2s;
      animation-iteration-count: 20;
     
      content: "";
  }
  .backimg{
    color: #ffe6f2; 
    left: 783px; 
    width: 450px; 
    bottom: 430px; 
    font-size: 0.3em; 
    font-weight: bold; 
    position: absolute;
  }
  @keyframes backdiv {
    50% {
      background: #ffe6f2;
    }
  }
  @keyframes beat {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(0.6) rotate(0deg);
    }
  }

  
  @media screen and (max-width: 768px){
    img{

        width: 100%;
        height: 500px;
        animation-name: beat;
        animation-duration: 2s;
        animation-iteration-count: 20;
       margin-top: 25px;
        content: "";
    }
      @keyframes beat {
          0% {
              transform: scale(1) rotate(0deg);
          }
          50% {
              transform: scale(0.6) rotate(0deg);
          }
      }
  }
  