/* header */
@font-face{
  font-family: "my font";
  src: url(/font/NIXGONFONTS-B-2.0.ttf);
}

@font-face{
  font-family: "my font2";
  src: url(/font/NIXGONFONTS-M-2.0.ttf);
}

:root {
  --text-color: #21201e;
  --background-color: #fce3e5;
  --hover-background-color: #f9f7fa;
  --accent-color: #8847b5;
  --color-link: #f8bec2; 
  --color-sub: #622291; 
  --color-title: #f58990; 
  --aspect-ratio: 33/17;
  --image-width-max: 500px;
}

body{
  font-family: "my font2";
    font-weight: 700;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;    
}

.navbar {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  background: linear-gradient(to right, #fce3e5, #f5d5e0, #f5d5e9);
}

.navbar_logo img {
  padding-left: 15px;
  width: 60px;
  height: 45px;
}

.navbar_menu {
  display: flex; 
  list-style: none; 
  padding-left: 0; 
  font-family: "my font";
  font-size: 17px;
}

.navbar_menu li {
  padding: 8px 15px;
}

.navbar_menu li:hover {
  background-color: var(--hover-background-color);
  border-radius: 4px; 
}

.navbar_icons {
  list-style: none;
  color: var(--accent-color);
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 20px;
  font-family: "my font";
  font-size: 10px;
  font-size: 13px;
}
.navbar_icons li i {
  margin-left: 8px;
}

.navbar_icons div {
  padding-top: 10px;
}

.navbar_toggleBtn {
  display: none; 
  position:absolute;
  right: 32px; 
  font-size: 24px;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .navbar {
      flex-direction: column; 
      align-items: flex-start;
      padding: 8px 24px;
  }

  .navbar_menu {
      display: none; 
      flex-direction: column;
      align-items: center; 
      width: 100%; 
  }

  .navbar_menu li {
      width: 100%;
      text-align: center; 
  }

  .navbar_icons {
      display: none;
      justify-content: center;
      width: 100%;
  }


  .navbar_toggleBtn { 
      display: block;
    margin-top: 17px;
}

  .navbar_menu.active,
  .navbar_icons.active {
      display:flex;
  }

}

footer {
  margin-top: 700px;
  background-color: var(--hover-background-color);
  display: flex;
  padding: 30px;
  text-align: center;
  line-height: 35px;
}

footer > div:first-child {
  flex: 3;
  text-align: center;
  color: var(--text-color);
}

footer > div:last-child {
  flex: 9;
  color: var(--text-color)
}

.footer_logo img {
  width: 90px;
  height: 90px;
}

.l-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 500px;
  padding: 0 2em;
}

.l-wrapper img{
  width: 100%;
  height: 95%;
 
}

video { 
width: 100%; 
height: 95%;}

.title{
  display: flex;
  position: relative; 
  width: 100%;
  margin: 0 40%;
  padding: auto;
}

.title h5{
    text-align: center; 
    font-size: 3rem; 
    color: var(--color-title);
}

#showHide { 
  width:60%; 
  height:60%; 
  margin:10px auto; 
}

input,select,textarea,button {
  font-size:100%;
  vertical-align:middle;
}

button {
  border:0 none;
  background-color:transparent;
  cursor:pointer;
   outline:none
  }

button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}

.soff {
  display:none;
}

.wrap {
  max-width:900px;
  margin:0 auto;
}

.content {
  margin-bottom:30px;
}

.content.default,
.content.in_game {
  margin-top: 5%;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:600px;
}

.content.in_game {
  padding: 30px 0;
}
#footer{
  margin-top: 150px;
  display: flex;
  padding: 30px;
  text-align: center;
}



#tor{
  font-size: 25px; 
  background-color: #f9f7fa; 
  border: 4px solid #fce3e5; 
  margin-left: 15%; 
  margin-right: 15%;
}

#btnGameStart{
  font-size: 25px;
  font-family: "my font2";
  padding: 30px 40px;
  margin: 0 auto;
  background: var(--color-link);
  border-radius: 10px;
  border: none;
}

#cancel,
#prev {
  display: none;

}

.list_ideal {
  display:flex;
  height:300px;
  width: 600px;
  justify-content:space-evenly;
}

.list_ideal li {
  width:60%;
  position: relative;
  display: flex;
  justify-content:space-between;
}

.list_ideal li a {
  display:block;
  width:80%;
  line-height: 35px;

}

.list_ideal li a .final img{
  -webkit-filter: unset;
  filter: unset;
}
strong{
  width: 220px;

}

.list_ideal li span {
  display:block;
  overflow:hidden;
  width:100%;
  height:100%;
  border:1px solid var(--accent-color);
  border-radius:10px;}
.list_ideal li span img {width:100%;
  height:100%;vertical-align:top}
.list_ideal li strong {display:block;text-align:center}
.list_ideal li a[hover="true"] strong {
  color: var(--accent-color);
  background-color: #fce3e5;

}


#likeimg{
  display: none;
  margin-top: 50px;
  margin-left: 250px;
  width: 350px;
  height: 250px;
}

#roundTitle{
  font-size: 30px;
  margin-left: -15px;
  margin-top: 25%;
  border: 1px solid white;
  background-color: var(--background-color);
  border-radius: 12px;
  height: 90px;
  font-family: "my font";
}

#tor{

  font-size: 25px;
  background-color: #f9f7fa;
  border: 4px solid #fce3e5;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 5%;
}


@media (max-width:525px){
  .list_ideal {display:block}
  .list_ideal li {width:50%;margin:15px auto 0}
}

@media screen and (max-width: 740px){
  .l-wrapper img{
    width: 100%;
    height: 65%;
    margin-left: -30px;
   
  }
  .list_ideal li a[hover="true"] strong {
    color: var(--accent-color);
    background-color: #fce3e5;

  }

 #tor{
   font-size: 8px;
   width: 350px;
   height: 730px;
   margin-left: 1px;
   margin-top: 150px;
 }
  #roundTitle{
    margin-left: -100px;
    margin-top: 100px;
  }

  .list_ideal li a {
    font-size: 11px;
    display:block;
    width:80%;
    line-height: 35px;

  }
  .list_ideal {
    display:flex;
    height:150px;
    justify-content:space-evenly;
    margin-left: 5px;
  }
  strong{
    width: 100px;

  }

  footer{
    margin-top: 100px;
    font-size: 12px;
}
#footer{
  margin-top:300px;
  display: flex;
  padding: 30px;
  text-align: center;
}
}