<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>아이디</th>
                <th>이름</th>
                <th>생년월일</th>
                <th>성별</th>
                <th>연락처</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="users : ${user}">
                <td th:text="${users.userN}"></td>
                <td th:text="${users.userId}"></td>
                <td th:text="${users.userName}"></td>
                <td th:text="${users.userBirth}"></td>
                <td th:text="${users.getUserSex()}"></td>
                <td th:text="${users.getUserTel()}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <p th:text="${}"></p>
</div> <!-- /container -->
</body>
</html>